.calculator__buttons {  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (5, 1fr);
  gap: 0px 0px;
  background-color: black;
  width: ;
  grid-auto-flow: row;
  grid-template-areas:
    "ac button-plus-minus button-percentage button-division"
    "button-seven button-eight button-nine button-multiply"
    "button-four button-five button-six button-minus"
    "button-one button-two button-three button-plus"
    "button-zero button-dot button-equal button-equal";

    
}



.ac { grid-area: ac; }

#button-plus-minus { grid-area: button-plus-minus; }

#button-percentage { grid-area: button-percentage; }

#button-division { grid-area: button-division; }

#button-seven { grid-area: button-seven; }

#button-eight { grid-area: button-eight; }

#button-nine { grid-area: button-nine; }

#button-multiply { grid-area: button-multiply; }

#button-four { grid-area: button-four; }

#button-five { grid-area: button-five; }

#button-six { grid-area: button-six; }

#button-minus { grid-area: button-minus; }

#button-one { grid-area: button-one; }

#button-two { grid-area: button-two; }

#button-three { grid-area: button-three; }

#button-plus { grid-area: button-plus; }

#button-zero { grid-area: button-zero; }

#button-dot { grid-area: button-dot; }

#button-equal { grid-area: button-equal; }


